html,
body {
	height: 100%;
	margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	background: #111;
    width: 100%;
    position: relative;
}
#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Search bar */
#search-container {
	position: absolute;
	top: 12px;
	right: 2%;
	z-index: 1400;
	background: rgba(255, 255, 255, 0.5);
	padding: 6px 8px;
	border-radius: 8px;
	display: flex;
    width: fit-content;
}

#search-area {
	display: flex;
    gap: 6px;
}

#search-input {
	padding: 6px;
	width: 160px;
	border: 1px solid #bbb;
	border-radius: 4px;
	outline: none;
    transition: width 0.35s ease;
}
#search-btn {
	padding: 6px 10px;
	background: #2357bc;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
    transition: background 0.3s ease;
}

/* Sidebar Styles */
#sidebar {
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 32%;
	max-width: 420px;
	background: rgba(0, 0, 0, 0.85);
	color: #fff;
	padding: 18px;

	transform: translateX(-100%);
	opacity: 0;
	transition:
		transform 0.35s ease,
		opacity 0.35s ease;
	z-index: 1500;
	overflow: hidden;
	box-sizing: border-box;
}

#sidebar.active {
	transform: translateX(0);
	opacity: 1;
}

#sidebar.active ~ #toggleSidebar {
	opacity: 0;
	pointer-events: none;
}

#closeBtn {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
	background: rgb(35, 87, 188, 0.5);
    background-filter: blur(10px);
	border: none;
	color: white;
	padding: 8px;
	cursor: pointer;
	width: 80%;
	display: block;
}

/* Toggle Button */
#toggleSidebar {
	position: absolute;
    width: fit-content;
	top: 10px;
	left: 10px;
	z-index: 1100;
	padding: 10px;
	background: white;
	border: 1px solid black;
	cursor: pointer;
	transition: opacity 0.25s ease;
}

.close-btn {
	position: absolute;
	left: 12px;
	top: 12px;
	background: transparent;
	color: #fff;
	border: 1px solid rgba(255, 255, 255, 0.15);
	padding: 6px 8px;
	cursor: pointer;
}
h2 {
	color: #4da3ff;
	margin-top: 34px;
}
.info p {
	margin: 0.25rem 0;
	color: #ddd;
}

@media screen and (max-width: 600px) {
    #search-input {
        width: 100px;
    }

    #sidebar {
        width: 100%;
        height: 40%;
        max-width: 100%;
        top: auto;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
    }

    #sidebar.active {
        transform: translateY(0);
    }
}
